################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JewelryNotice/.vs/JewelryNotice.slnx
/.vs
